html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;

}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
}

.nav_div_top {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
}



.main_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
}

.main_title::after {
  content: "";
  background: url("marble_background.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}





.horizontal_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
}

/* about page */

.main_about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

.tall_dark {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(50,54,57);
  color: white;

}

.tall_white {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
}

.content_about {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
}


.wide_dark {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  text-align:left;
  background-color: rgb(50,54,57);
  color: white;
}

.wide_white {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  text-align: left;
}


.main_signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
}

.image_box {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.image_small {
  height: 50px;
  width: 50px;
}

.image_medium {
  height: 150px;
  width: 150px;
}
